body {
  font-family: 'Noto Sans', sans-serif;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.publication-title {
}

.publication-banner {
  width: 100%; /* Ensures banner uses the full width */
  height: auto; /* Maintains aspect ratio */
  overflow: hidden; /* Hides any excess */
}

.publication-banner video {
  width: 100%; /* Full width of the container */
  height: auto; /* Adjust height to maintain aspect ratio */
  position: relative;
  object-fit: cover; /* Covers the entire space without stretching */
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-video {
    width: 100%; /* Full width of the container */
    height: auto; /* Adjust height automatically */
    position: relative;
    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.results-carousel {
  overflow: hidden;
  width: 100%;
}

.results-carousel .item {
  margin: 5px;
  width: 100%; /* Each item takes full width of its container */
  height: auto; /* Height adjusted automatically */
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  width: 100%; /* Full width of the container */
  height: auto; /* Adjust height automatically */
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%; /* Full width of the container */
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%; /* Full width of the container */
}

#interpolation-image-wrapper img {
  width: 100%; /* Full width of the container */
  height: auto; /* Adjust height automatically */
  border-radius: 5px;
}
